.main-brag-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card-container {
	width: 70vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 100px;
}

.card-text-container {
	display: flex;
	flex-direction: column;
	width: 25vw;
	justify-content: center;
	align-items: flex-start;
}

.card-text-container > h1 {
	color: #181818;
	font-size: 36px;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	text-align: left;
	margin-bottom: 25px;
}

.card-divider {
	width: 70%;
	height: 3px;
	background-color: #181818;
	opacity: 0.5;
	border-radius: 3px;
	margin-bottom: 25px;
}

.card-text-container > h2 {
	color: #181818;
	font-size: 24px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	text-align: left;
}

.card-showcase-container {
	width: 35vw;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	perspective: 1000px;
}

.card-showcase {
	width: 550px;
	height: 450px;
	border-radius: 16px;
	background-color: #181818;
	opacity: 0.5;
	transform: rotate3d(0, -1, 0, 10deg);
	transition: 500ms;
}

.card-showcase:hover {
	cursor: default;
	transform: rotate3d(0, 0, 0, 0deg);
	transform: scale(1.1);
}

/* Now for the cards that start with the showcase on the left. I'll call them -right. Because I want to. Don't judge me. */

.card-container-right {
	width: 70vw;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
}

.card-showcase-container-right {
	width: 35vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	perspective: 1000px;
}

.card-showcase-right {
	width: 550px;
	height: 450px;
	border-radius: 16px;
	background-color: #181818;
	opacity: 0.5;
	transform: rotate3d(0, 1, 0, 10deg);
	transition: 500ms;
}

.card-showcase-right:hover {
	cursor: default;
	transform: rotate3d(0, 0, 0, 0deg);
	transform: scale(1.1);
}

/* Mobile Time. iPad sizing first. */

@media screen and (max-width: 1030px) {
	.card-showcase-container {
		perspective: none;
	}

	.card-showcase {
		transform: none;
		height: 350px;
		width: 350px;
	}

	.card-showcase:hover {
		transform: none;
	}

	.card-showcase-container-right {
		perspective: none;
	}

	.card-showcase-right {
		transform: none;
		height: 350px;
		width: 350px;
	}

	.card-showcase-right:hover {
		transform: none;
	}
}

@media screen and (max-width: 700px) {
	.card-container {
		flex-direction: column;
	}

	.card-text-container {
		width: 70vw;
		justify-content: center;
		align-items: center;
	}

	.card-text-container > h1 {
		text-align: center;
	}

	.card-text-container > h2 {
		text-align: center;
	}

	.card-showcase-container {
		width: 70vw;
		margin-top: 50px;
	}

	.card-container-right {
		flex-direction: column;
	}

	.card-showcase-container-right {
		width: 70vw;
		margin-top: 50px;
	}
}
