.main-container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	margin-bottom: 250px;
}

.intro-container {
	width: 80vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 50px;
	overflow: hidden;
}

.intro-text > h1 {
	color: #181818;
	font-size: 72px;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	text-align: center;
}

.intro-blurb {
	display: flex;
	padding-top: 100px;
}

.intro-blurb > h2 {
	color: #181818;
	font-size: 36px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	text-align: center;
}

/* CSS Below is for the dynamic shifting text that loads upon page start. (You don't have to look, it's just magic really.) */

.blurb-dynamic-text {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	width: 0;
	position: relative;
	animation: typewriter;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-timing-function: steps(6, end);
}
.blurb-dynamic-text2 {
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	display: inline-block;
	position: relative;
	animation: typewriter2;
	animation-delay: 3s;
	animation-duration: 1.33s;
	animation-timing-function: steps(4, end);
}
.blurb-dynamic-text3 {
	overflow: hidden;
	white-space: nowrap;
	width: 0;
	display: inline-block;
	position: relative;
	animation: typewriter3;
	animation-delay: 4.33s;
	animation-duration: 4.33s;
	animation-timing-function: steps(22, end);
}

.intro-blurb > h3 {
	font-size: 36px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 400;
	text-align: end;
	color: red;
}

.blurb-dynamic-text4 {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	animation: typewriter4;
	animation-duration: 11.66s;
	animation-timing-function: steps(12, end);
}

/* CSS styling below is for the blinking caret at the end of the animated text  */

.blurb-dynamic-text::after,
.blurb-dynamic-text2::after,
.blurb-dynamic-text3::after,
.blurb-dynamic-text4::after {
	content: '|';
	position: absolute;
	color: black;
	right: -5px;
	animation: caret infinite;
	animation-duration: 1s;
	animation-timing-function: steps(1, end);
}

/* Below is the actual animation controls that make it all flow so beautifully, if I do say so myself. */

@keyframes typewriter {
	0%,
	100% {
		width: 0;
	}
	50% {
		width: 3em;
	}
}
@keyframes typewriter2 {
	0%,
	100% {
		width: 0;
	}
	50% {
		width: 2em;
	}
}
@keyframes typewriter3 {
	0%,
	100% {
		width: 0;
	}
	50% {
		width: 14em;
	}
}

@keyframes typewriter4 {
	0%,
	75% {
		width: 0;
	}
	100% {
		width: 6em;
	}
}

@keyframes caret {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

/* Below is the CSS for the 'interactables' (I.E. LinkedIn/Twitter) */

.intro-interactable-container {
	display: flex;
	width: 40vw;
	height: 95px;
	margin-top: 100px;
	justify-content: space-around;
	align-items: center;

	border-top: 1px solid rgba(24, 24, 24, 0.4);
	border-bottom: 1px solid rgba(24, 24, 24, 0.4);
}

.linkedin-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65px;
	width: 65px;
	transition: 0.3s;
}

.linkedin-container:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.linkedin {
	object-fit: contain;
	border-radius: 12px;
}

.intro-bottom-scroller {
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	margin-top: 100px;
}

/* The stuff below here is just the little arrow guiding you gently into my achievement gallery. Pretty cool stuff! */

.scroller-text-container {
	width: 40vw;
}

.scroller-text-container > h2 {
	color: #181818;
	font-size: 36px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	text-align: center;
}

.scroller-text-container > h3 {
	color: #181818;
	opacity: 0.5;
	font-size: 20px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	text-align: center;
}

.floating-scroller-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65px;
	width: 65px;
}

.floating-scroller {
	object-fit: contain;
	height: 65px;
	animation: float infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
	opacity: 0.4;
}

/* IT CAN FLOAT! */

@keyframes float {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 10px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

/* Mobile-friendliness is always a pain in the ass. But you'll find it below here. */

@media screen and (max-width: 1025px) {
	.intro-blurb {
		flex-direction: column;
	}
	.blurb-dynamic-text,
	.blurb-dynamic-text2,
	.blurb-dynamic-text3 {
		visibility: hidden;
		position: absolute;
	}
	@keyframes typewriter {
		0%,
		100% {
			width: 0;
			visibility: visible;
			position: relative;
		}
		50% {
			width: 3em;
			visibility: visible;
			position: relative;
		}
	}
	@keyframes typewriter2 {
		0%,
		100% {
			width: 0;
			visibility: visible;
			position: relative;
		}
		50% {
			width: 2em;
			visibility: visible;
			position: relative;
		}
	}
	@keyframes typewriter3 {
		0%,
		100% {
			width: 0;
			visibility: visible;
			position: relative;
		}
		50% {
			width: 14em;
			visibility: visible;
			position: relative;
		}
	}
	@keyframes typewriter4 {
		0%,
		75% {
			width: 0;
			visibility: visible;
			position: relative;
		}
		100% {
			width: 6em;
			visibility: visible;
			position: relative;
		}
	}

	.intro-interactable-container {
		width: 60vw;
	}
	.scroller-text-container {
		width: 60vw;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 700px) {
	.intro-text > h1 {
		font-size: 48px;
	}

	.blurb-dynamic-text3 {
		max-width: 95vw;
	}
	.intro-blurb > h3 {
		font-size: 32px;
	}
	.intro-blurb {
		min-height: 150px;
	}
}
